version: "3"

services:
  postgres:
    container_name: postgres
    ports:
      - "5432:5432"
    image: postgres:alpine
    environment:
      - POSTGRES_USER=devUser
      - POSTGRES_PASSWORD=woofbark
      - POSTGRES_DB=prisma
    restart: always

  # Leaving out this container in favor of Prisma Studio
  # pgadmin:
  #   container_name: pgadmin
  #   ports:
  #     - "5050:80"
  #   image: dpage/pgadmin4:latest
  #   restart: always
  #   env_file:
  #     - .env

  firebase-emulators:
    container_name: firebase-emulators
    ports:
      - 4000:4000
      - 4001:4001
      - 4002:4002
    build:
      context: ./firebase-emulators
      dockerfile: Dockerfile
    image: firebase-emulator:firebase-emulator
    volumes:
      - ./firebase-emulators/firebase.json:/src/firebase.json
      - ./firebase-emulators/storage.rules:/src/storage.rules
      - ./firebase/seed:/src/firebase/seed
    command: firebase emulators:start --project dev

  api:
    container_name: api
    depends_on:
      - postgres
      - firebase-emulators
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - 5000:5000
      - 5555:5555
    volumes:
      - ./api:/home/node/app
    environment:
      - ENVIRONMENT=development
      - POSTGRES_USER=devUser
      - POSTGRES_PASSWORD=woofbark
      - POSTGRES_DB=prisma
      - DATABASE_URL=postgres://devUser:woofbark@postgres:5432/prisma?schema=prisma
      - PGADMIN_DEFAULT_EMAIL=dev@example.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin
      - FIREBASE_AUTH_EMULATOR_HOST=firebase-emulators:4001
      - FIREBASE_STORAGE_EMULATOR_HOST=firebase-emulators:4002
      - SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN}
      - SENTRY_DSN=${SENTRY_DSN}
    command: npm run dev

  web:
    container_name: web
    depends_on:
      - postgres
      - firebase-emulators
    ports:
      - 3000:3000
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    volumes:
      - ./web:/src
    environment:
      - ENVIRONMENT=development
      - NEXT_PUBLIC_API_PATH=http://localhost:5000
      - DATABASE_URL=postgres://devUser:woofbark@postgres:5432/prisma?schema=prisma
      - SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN}
      - NEXT_PUBLIC_SENTRY_DSN=${NEXT_PUBLIC_SENTRY_DSN}
      - FIREBASE_AUTH_EMULATOR_HOST=firebase-emulators:4001
      - FIREBASE_STORAGE_EMULATOR_HOST=firebase-emulators:4002
